name: "SCA"

permissions:
  actions: read
  pull-requests: write
  security-events: write
  contents: write
  checks: write

on:
  workflow_dispatch:
  workflow_call:
    inputs:
      username:
        required: false
        type: string
    secrets:
      token:
        required: false  

jobs:
  sca:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      
      - name: Vulnereble package scan
        uses: tonycknight/pkgchk-action@v1
        with:
          scan-issues: true
          scan-upgrades: true
          vulnerable: true
          deprecated: true
